<div class="game">
    <div class="game-sample">
        <img [src]="'assets/'+sampleImage+'.png'">
    </div>

    <div class="game-itens">
        <img  *ngFor="let image of stimuli; let i = index" (click)="onClickImage(i)" class="game-item" [src]="'assets/'+optionImages[i]+'.png'">
    </div>

    
      
      <app-feedback-modal #modal>

        <h1 *ngIf="!error"> Correto!  </h1>
        <h1 *ngIf="error"> Incorreto  </h1>

        
        <!-- button
          (click)="acaoPrimaria(); modal.toggle();"
          class="btn-primario">Ação</button-->
      
      </app-feedback-modal> 

</div>